
###> symfony/framework-bundle ###
/symfony/.env.local
/symfony/.env.local.php
/symfony/.env.*
/symfony/.env
/symfony/config/secrets/prod/prod.decrypt.private.php
/symfony/public/bundles/
/symfony/var/
/vendor/
###< symfony/framework-bundle ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

.env
.env.*